{% extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}

{{ block.super }}

<div class="jumbotron jumbotron-fluid" id="editprofiles">

    <div class="card-column">

        <div class="card">
            
            {% for post_item in post %}
            <div id="image">
                <div>
                    <h3><strong>{{post_item.username}}</strong></h3>
                <p>{{post_item.location}}</p>
                <img src="{{post_item.image.url}}" class="card-img" alt="Image" style="height: 60vh; width: 80vh">
                
                <h4 style="padding-left: 10px">{{post_item.caption}}</h4>
                <div class="" id="like">
                        <h3><a href="{% url 'upvote_post' post_item.id %}">
                                    <span class="glyphicon glyphicon-thumbs-up" id="comment"></span></a>
                                {{post_item.upvote_count}}</h3>
                    </div>
                <a href="{% url 'comment' post_item.id%}">
                    <i class="fa fa-comment-o" style="font-size:24px"></i></a> comments

            </div>

        </div>
    </div>

    {% endfor %}

    {% endblock %}
</div>