{% extends 'profiles/base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
<header>

    <div class="container">

        <div class="profile">

            <div class="profile-image">

                <img src="{{profile_pic.cdn_urll}}" alt="">

            </div>

            <div class="profile-user-settings">

                <h3 class="profile-user-name"><strong><a href="{% url 'profiles' user.username %">{{user.username}}</a></strong></h3>

                <a href="{% url 'editprofile' user.username %}"><button class="btn profile-edit-btn">Edit
                                Profile</button></a>
                        <a href="{% url 'uploadpost'%}"><button class="btn profile-edit-btn">Upload Post</button></a>


            </div>



            <div class="profile-bio">

                <p><span class="profile-real-name"></span> {{profile.bio}}</p>

            </div>

        </div>
        <!-- End of profile section -->

    </div>
    <!-- End of container -->

</header>

<main>

    <div class="container">

        <div class="gallery">
            {% for post_item in post %}
            <div class="gallery-item" tabindex="0">

                <img src="{{post_item.image.url}}" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li>{{post_item.caption}}</li>
                        <a style="color: white" href="{% url 'upvote_post' post_item.id %}">
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                    class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>
                                {{post_item.upvote_count}}</li>
                        </a>
                        <a style = " color:white"href="{% url 'comment' post_item.id%}">
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                    class="fa fa-comment-o" aria-hidden="true"></i></li>
                        </a>
                    </ul>

                </div>

            </div>

            {%endfor %}
        </div>

    </div>
    <!-- End of gallery -->

    <div class="loader"></div>

    </div>
    <!-- End of container -->
    {% endblock %}
</main>